<div class="menu">
  <div class="menu-heading">
    <div class="menu-header-buttons-wrapper clearfix">
      <button type="button" class="btn btn-info btn-menu-header-collapse">
        <i class="fa fa-cogs"></i>
      </button>
      <!--Put your favourite pages here-->
      <div class="menu-header-buttons">
        <a *ngFor="let item of quickLaunchItems"
           routerLink="{{item.path}}"
           routerLinkActive="btn-active"
           class="btn btn-info btn-outline" tooltip="item.title">
          <i class="{{item.icon}}"></i>
        </a>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" ngClass="{'disabled': menuItem.disabled}">
        <div *ngIf="menuItem.group" class="group-item">
          <div class="title">
            <i *ngIf="menuItem.icon" class="{{menuItem.icon}} menu-item-icon"></i> {{menuItem.title}}
          </div>
        </div>
        <a *ngIf="!menuItem.group" routerLink="{{menuItem.path}}">
          <i *ngIf="menuItem.icon" class="{{menuItem.icon}} menu-item-icon"></i>
          <span *ngIf="menuItem.showIndex === undefined ? showMenuItemIndex : menuItem.showIndex">{{menuItem._index}}. </span>
          <span *ngIf="menuItem.badge" class="badge-wrapper">
                        <span class="badge badge-xs badge-cyan">{{menuItem.badge.value}}</span>
                    </span>
          <span class="inner-text">{{menuItem.title}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu-collapse-line">
    <!--Menu collapse/expand icon is put and control from LobiAdmin.js file-->
    <div class="menu-toggle-btn" data-action="collapse-expand-sidebar"></div>
  </div>
</div>
