<div id="event-dialog" bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">
                    <span *ngIf="isEdit">{{'CALENDAR.EDIT_EVENT' | translate}}</span>
                    <span *ngIf="!isEdit">{{'CALENDAR.ADD_EVENT' | translate}}</span>
                </h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form (ngSubmit)="login(form.value)" name="eventForm">
                    <div class="form-group" ngClass="{'has-error': eventForm.title.touched && eventForm.title.invalid}">
                        <label class="control-label">{{'CALENDAR.EVENT_TITLE' | translate}}</label>
                        <input name="title" [(ngModel)]="event.title" type="text" class="form-control" required [ngModelOptions]="{standalone: true}">
                        <div class="alert alert-danger" *ngIf="event.title === ''">
                          {{'CALENDAR.EVENT_REQUIRED_FIELD' | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{'CALENDAR.EVENT_DATE' | translate}}</label>
                        <input class="orm-control date-picker form-control" type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)" />
                        <label class="checkbox lobicheck">
                            <input type="checkbox" name="allday" [(ngModel)]="event.allDay"><i></i> {{'CALENDAR.ALL_DAY' |
                            translate}}
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{'CALENDAR.EVENT_STYLE' | translate}}</label>
                        <div class="btn-group btn-group-justified btn-group-event-style" data-toggle="buttons">
                            <label *ngFor="let style of eventStyles" class="btn {{style}} text-white">
                                <input type="radio" [(ngModel)]="event.className[0]" value="{{style}}" name="event-style" (change)="event.className[0] = style">
                                <i class="fa fa-check" [hidden]="!(event.className[0] == style)"></i>
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label">{{'CALENDAR.EVENT_DESC' | translate}}</label>
                        <textarea rows="3" class="form-control" name="desc" [(ngModel)]="event.description"></textarea>
                    </div>

                    <ul class="list-group" *ngIf="event && event.files.length > 0">
                        <li class="list-group-item calendar-attachment" *ngFor="let file of event.files">
                            <span class="attachment-icon"><i class="fa fa-file"></i></span>&nbsp;
                            <a href="javascript:void(0)" class="attachment-name">{{file.name}}</a>
                            <div class="pull-right display-inline-block">
                                <button class="btn btn-icon" data-toggle="tooltip" title="Remove" (click)="removeAttachment(file)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <button class="btn-link btn-upload">
                        {{'CALENDAR.EVENT_ATTACHMENTS' | translate}}
                        <input id="uploader" type="file"
                               (change)="addAttachments($event)" multiple/>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button [hidden]="!isEdit" class="btn btn-pretty btn-inverse pull-left" (click)="deleteEvent()">
                    <i class="fa fa-trash"></i> {{'CALENDAR.EVENT_DELETE' | translate}}
                </button>
                <button class="btn btn-pretty btn-primary" type="button" (click)="ok()"
                        [disabled]="event.title === ''">{{'CALENDAR.EVENT_OK' | translate}}
                </button>
                <button class="btn btn-pretty btn-default" type="button" (click)="cancel()">
                    {{'CALENDAR.EVENT_CANCEL' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
